<%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %>Bonjour <%= user.name.givenName %>,<br/>
<br/>
C'est peut-être le moment de faire ses courses chez <a href="<%= origin %>">vos commerçants préférés</a>?
<br/>

Avec nos meilleurs messages,<br/>
L'équipe de Karibou.ch
<br/>
----<br/>
Modifiez votre alarme <%= origin %>/account/reminder<br/>
