<%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %>Bonjour <%= user.name.givenName %>,<br/>
<br/>
Vous avez choisi l'option de rappel <%= origin %>.
<br/><br/>

Avec nos meilleurs messages,<br/>
<pre style="font-size:10px">
 | |/ /         (_) |                
 | ' / __ _ _ __ _| |__   ___  _   _ 
 |  < / _` | '__| | '_ \ / _ \| | | |
 | . \ (_| | |  | | |_) | (_) | |_| |
 |_|\_\__,_|_|  |_|_.__/ \___/ \__,_|
</pre>
<br/>
----<br/>
modifier vos préférences <%= origin %>/account/reminder<br/>
