<p>
  Salut <%= name.givenName %>
</p>
<p>
  Ton nouveau mot de passe à été créé avec succès. <br/>
  user: <%= email.address %><br/>
  password: <%= password %><br/>
  <p><a href="http://karibou.evaletolab.ch/login">
    http://karibou.evaletolab.ch/login
  </a></p>
</p>
<p>
  A bientôt,
  <address>
    <strong>Olivier Evalet<br/>Ingénieur chez Karibou.</strong><br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
</p>
