<%if (develMode) {%>
<div><strong style="color:green">TEST -- TEST -- TEST</strong><br/></div>
<% } %>Bonjour <%= order.customer.name.givenName %>,<br/>
<br/>
Votre commande  <%= order.oid %> du <%= created %> à bien été annulée.<br/>
Avec nos meilleurs messages,<br/>
<pre style="font-size:10px">
 | |/ /         (_) |                
 | ' / __ _ _ __ _| |__   ___  _   _ 
 |  < / _` | '__| | '_ \ / _ \| | | |
 | . \ (_| | |  | | |_) | (_) | |_| |
 |_|\_\__,_|_|  |_|_.__/ \___/ \__,_|
</pre>
<br/>
----<br/>
vos commandes <%= origin %>/account/orders<br/>
