!!! 5
html
  head
    title Karibou API
    link(href="/css/bootstrap-white.min.css", rel="stylesheet")
    link(href="/css/bootstrap-responsive.min.css", rel="stylesheet")
    script(src="js/jquery-1.9.0.min.js")
    script(src="js/bootstrap.min.js")

  body
  
  body(data-spy="scroll", data-target=".bs-docs-sidebar")
    block content
      div.alert.alert-info.fade.in
        button(type="button", class="close", data-dismiss="alert") 
        p Certains navigateur demande une confirmation du cookie, 
          a(href='http://karibou.evaletolab.ch', title="Accept Cookie") en acceptant de cliquer ce lien vous pourrez profiter pleinement de votre site