!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='robots' content='index,follow')
    title: Karibou Genève - un marché alimentaire composé d'artisans, de producteurs et de petits commerçants
    meta(name="title" content="Karibou Genève - un marché alimentaire composé d'artisans, de producteurs et de petits commerçants")
    meta(charset="utf-8")
    meta(name="description"  content="Karibou Genève - un marché alimentaire composé d'artisans, de producteurs et de petits commerçants")
    meta(name="author"       content="karibou team")
    link(rel="canonical" href="https://karibou.ch/")
    link(rel="icon" type="image/png" href="/img/k-small.png" )
    meta(property="og:type" content="website")
    meta(property="og:image" content="/img/k-small.png")
    meta(property="og:title" content="Karibou")
    meta(property="og:description" content="Karibou Genève - un marché alimentaire composé d'artisans, de producteurs et de petits commerçants" )
    meta(property="og:site_name" content="Karibou")
    meta(property="og:url" content="https://Karibou.ch")
    meta(name="twitter:site" content="@kariboulab")
  body
    h1 En vente sur le marché à genève
    ol
        - each product in products
            li
                a( href="/products/#{product.sku}" title="#{product.title}"): =product.title



