!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='robots', content='index,follow')
    title: |Karibou - producteurs, artisans et épiciers online!
    meta(name="title", content="Karibou - producteurs, artisans et épiciers online!")
    meta(charset="utf-8")
    meta(name="description",  content="Karibou - Votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!")
    meta(name="author", content="karibou team")
    link(rel="canonical", href="https://karibou.ch/")
    link(rel="icon", type="image/png", href="/img/k-small.png" )
    meta(property="og:type", content="website")
    meta(property="og:image", content="/img/k-small.png")
    meta(property="og:title", content="Karibou")
    meta(property="og:description", content="Karibou - Votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!" )
    meta(property="og:site_name", content="Karibou")
    meta(property="og:url", content="https://Karibou.ch")
    meta(name="twitter:site", content="@kariboulab")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(href="/css/style.css", rel="stylesheet")
  body
    div(class="container")
      div(class="header clearfix")
        nav
          ul(class="nav nav-pills pull-right")
            li(role="presentation" class="_active hide")
              a( href="https://github.com/evaletolab/karibou-doc/blob/master/pages/la%20charte.md"): | La charte
            li(role="presentation", class="hide")
              a( href="https://github.com/evaletolab/karibou-doc/blob/master/pages/about.md"): |A propos
        h3( class="text-muted"): |Karibou Marketplace


      div(class="jumbotron")
        h2 Votre maraîcher, boulanger, fromager, boucher... livrés à votre porte!
        img(src="/img/karibou.jpg", class="img-responsive")
      ul(class="list-group")
          li(class="list-group-item")
              a(href="https://github.com/evaletolab/karibou-doc/blob/master/pages/about.md"): |Comment ça marche
          li(class="list-group-item")
              a(href="https://github.com/evaletolab/karibou-doc/blob/master/pages/la%20charte.md"): |Notre charte
          li(class="list-group-item")
              a(href="/shops"): |Les boutiques
          li(class="list-group-item")
              a(href="/products"): |Les produits

      block content


