- if (!user)
  h2 Not Authenticated = 
  #register
    a(href='/register') Register
  #password-login
    a(href='/login', style='border: 0px') Login with Password
  #twitter-login(style='float: left; margin-left: 5px')
    a(href='/auth/twitter', style='border: 0px')
      img(style='border: 0px;vertical-align:middle', src='http://github.com/intridea/authbuttons/raw/master/png/twitter_32.png')
      login with Twitter
- else
  h2 Authenticated
  #user-id Logged in with `user.id` #{user.id} - aka #{user.username}, 
  - if (user.twitter)
    h3 Twitter User Data
    p= JSON.stringify(user.twitter.user)
  - else
    h3 User Data
    p= JSON.stringify(user)
  
  h3
    a(href='/logout') Logout
