!!! 5
html
  head
    title Karibou API
    link(href="/css/bootstrap-white.min.css", rel="stylesheet")
    link(href="/css/bootstrap-responsive.min.css", rel="stylesheet")
    link(href="/css/bootswatch.css", rel="stylesheet")
    //    
      script(src='http://static.ak.fbcdn.net/connect/en_US/core.js')
  body
  
  body(data-spy="scroll", data-target=".bs-docs-sidebar")

    // Navbar
    // ================================================== 
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button( type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar o
            span.icon-bar
            span.icon-bar
          a(class="brand", href="https://github.com/evaletolab/karibou-api") Karibou
          div.nav-collapse.collapse
            ul.nav
              li.active: a(href="/") Home
              li: a(href="/v1") API V1
              li: a(href="/about") About
  
          ul(class="nav pull-right", id="main-menu-right")
            block content

    #main.container
      h2 Karibou API
      table.table
        thead: tr 
          th: path
          th: method
          th: secure
          th: params
        tbody
        each route in filter(api.get)
            tr(style="background-color:#eee")
              td: =route.path
              td: =route.method
              td: -
              td: =route.params
        each route in filter(api.post)
            tr
              td: =route.path
              td: =route.method
              - if(route.callbacks.length)
                td: b secure
              - else
                td: -
              td: =route.params
        each route in filter(api.delete)
            tr(style="background-color:#eee")
              td: =route.path
              td: =route.method
              - if(route.callbacks[0])
                td: b secure
              - else
                td: -
              td: =route.params
        each route in filter(api.put)
            tr
              td: =route.path
              td: =route.method
              - if(route.callbacks[0])
                td: b secure
              - else
                td: -
              td: =route.params

