doctype html
//
  This is example of Dynamic Template Page you can start from to personnalize the look
    of your payment pages.
    This page must be hosted on your own website. We retrieve it every time an authorization
    is requested. The URL of the Template Page hosted on your site is given by you in
    the hidden fields of the ordering form for each authorization request.
    You can change anything in this page but you must keep the "PAYMENT ZONE" and
    the $$$ strings exactly as they are.
    The styles and classes defined hereafter allow you to modify the lay out of
    the elements added by us during the authorization process. Just change the
    properties of those styles to fit to the look of your site.
head
  meta(http-equiv='Content-Type', content='text/html;CHARSET=utf-8')
  title Demo &quot;standard mode&quot; Sample Template Page
  |     
  style(type='text/css').
    body {margin:0px;}
    td.ncolh1 {}
    td.ncoltxtl {}
    td.ncoltxtl2 {}
    td.ncoltxtr {}
    td.ncoltxtc {}
    td.ncollogol {}
    td.ncollogor {}
    td.ncollogoc {}
    td.ncoltxtmessage {background-color : lightblue; color : lightblue; text-align : left; font-weight : bold}
    td.ncolinput {}
    td.ncolline1 {}
    td.ncolline2 {}
    input.ncol {}
    table.ncoltable1 { width:100%;background-color:#FCF8E3;display:none; }
    table.ncoltable2 { width:100%;background-color:#FCF8E3; }
    table.ncoltable3 { width:100%;background-color:#FCF8E3; }
    // for Direct Debit payments
    .DDtxt {text-align: left;margin-left:2em;font-weight: normal;margin-top:0;}
    .DDlabel {text-align: left; margin-left:4em;font-weight: normal;margin-top:0;}
    .DDdata {font-weight: normal;margin-top:0;}
    .MKtxt {text-align: left;font-weight: bold; margin-left:2em;margin-top:0;}
    .MKlabel {text-align: left; margin-left:4em;font-weight: normal;font-style:italic;margin-top:0;}
    td.ncoltxtr p.MKlabel {margin-left:0;}
    .MKdata {font-weight: normal;margin-top:0;}
    .DDimp {font-weight: bold;margin-left:2em;text-align: left;margin-top:0;}
    .DDsection {font-weight: bold;margin-left:0em;text-align: left; margin-top:1em; margin-bottom: 0em;}
body
  table(border='0', width='101%')
    tr
      td(width='100%')
        // here is the payment form
        | $$$PAYMENT ZONE$$$
