!!! 5
html
  head
    title Karibou API
    link(href="/css/bootstrap-white.min.css", rel="stylesheet")
    link(href="/css/bootstrap-responsive.min.css", rel="stylesheet")
    link(href="/css/bootswatch.css", rel="stylesheet")
    script(src="js/jquery-1.9.0.min.js")
    script(src="js/bootstrap.min.js")

  
  body(data-spy="scroll", data-target=".bs-docs-sidebar")

